<!doctype html>
<html lang="pt">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
<link rel="stylesheet" href="/static/css/style.css">
<title>Brigida Trevisol</title>
<style>

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
</head>
<body>
<div class="header-bg">
  <div class="fundo">
    <div class="container pt-5 fundo" id="about">
      <div class="row pt-5 position-relative">
        <div class="position-absolute sobreposto" style="top:166px; left:15px;">
          <a href="https://www.instagram.com/brigidatrevisol">
            <div class="kk shadow-sm">
              <i class="lni lni-instagram-original"></i>
            </div>
          </a>
          <a href="https://www.facebook.com/brigida.gomes.50">
            <div class="kk shadow-sm">
              <i class="lni lni-facebook"></i>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-12 mx-auto text-center text-white">
          <h1 class="font-weight-bold">Brigida Trevisol</h1>
          <p class="lead mb-5">Pré-candidata a vereadora em Içara-SC</p>
        </div>
      </div>
      <div class="row fundo-foto">
        <div class="col-lg-5 col-12 mx-auto text-center" style="align-content: end;">
          <img src="/static/img/brigidatrevisol.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script> 
<script src="/static/js/script.js"></script>

</body>
</html>